/* Basic styles---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

body {
  background-image: url("../images/cool-background.png");
}

/* Default styles---------- */

/* Buttons---------- */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
}

.left .btn:hover {
  border: 1px solid #212529;
}

.right .btn:hover {
  background-color: rgba(209, 93, 106, 0.761);
}

.right .active {
  background-color: rgba(239, 37, 60, 0.761) !important;
}

/* Wrapper---------- */
.wrapper {
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main---------- */
main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

/* Left menu and Right menu---------- */
.left,
.right {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Disable style---------- */
.right.disable,
footer.disable,
.preview-img.disable {
  opacity: 0.5;
  pointer-events: none;
}

/* Buttons---------- */
.btn {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

/* Preview image---------- */
.preview-img {
  width: 100%;
  height: 100%;
  margin: 15px 0;
}

.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Footer---------- */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 3px solid #4c5c68;
  border-right: 3px solid #4c5c68;
}

footer .filter-container {
  width: 70%;
}

footer .filter-info {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer .filter-info p:first-child {
  font-size: 10vw;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 50px;
  line-height: 30px;
  color: #343a40;
}

footer .filter-info p:last-child {
  font-size: 18px;
  letter-spacing: 0.5px;
}

footer input {
  width: 100%;
  height: 7px;
  accent-color: #595959;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    width: 80vw;
    flex-direction: column;
  }

  main {
    flex-direction: row;
  }

  .left,
  .right {
    width: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .preview-img {
    margin: 0 35px;
  }

  .btn {
    background-color: #f8f9fa;
  }

  .btn span {
    font-size: 24px;
  }

  footer p {
    font-size: 35px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    width: 70vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    width: 700px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    margin-top: 5vh;
    width: 800px;
    height: 400px;
  }
}
